
@media only screen and (max-width: 480px){


.navbar-collapse{
z-index:1;
position:absolute;
top:60px;
background:white;
width:100%;
padding:10px;
}

.navbar-expand-lg{
z-index:1;
position:relative;
top:0px;
background:white;
width:100%;
padding:10px;
}
}
@media only screen and (max-width: 810px){


.navbar-collapse{
z-index:1;
position:absolute;
top:60px;
background:white;
width:100%;
padding:10px;
}
.navbar-expand-lg{
z-index:1;
position:relative;
top:0px;
background:white;
width:100%;
padding:10px;
}
}
